<div class='container-fluid'>

  <div class='col-12'>
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="./assets/images/img1.jpg"  style="width : 97%; height: 733px;" alt="Random first slide">
        <div class="carousel-caption">
          <h3>Developed by Gary</h3>
          <p>Project Intern, Nozomi</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="./assets/images/img2.jpg" style="width : 97%; height: 733px;" alt="Random second slide">
        <div class="carousel-caption">
          <h3>Information logger</h3>
          <p>Create,Read,Edit,Delete your record</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="./assets/images/img3.jpg" style="width : 97%; height: 733px;" alt="Random third slide">
        <div class="carousel-caption">
          <h3>Developed in Angular</h3>
          <p>CRUD Application</p>
        </div>
      </ng-template>

    </ngb-carousel>
  </div>

</div>